* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(./CATAPP.jpg);
  font-family: 'Protest Riot', sans-serif;
}

/* div with cat card*/
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cat-name {
  padding: 40px;
}

.cat-img {
  height: 650px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 10px #0dacb1bf;
  margin: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(235, 226, 226, 0.45);
  margin-top: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.text {
  padding: 30px 20px 20px;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
  color: rgb(84, 172, 199);
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
}

/*---loader---*/
.loader {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 5px solid #dbdbdb;
  border-bottom-color: #497f95;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
